<ion-header class="conteudo">
  <ion-toolbar>
    <ion-back-button slot="start" fill="clear" text="" icon="arrow-back"></ion-back-button>
    <ion-title>SEGURANÇA</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="conteudo">
  <ion-list>
    <ion-item class="btn" (click)="abrirDispositivos()">
      <ion-label>Dispositivos conectados</ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item class="btn" (click)="abrirSenhaAdd()">
      <ion-label>Senha adicional</ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
