<ion-header class="conteudo">
  <ion-toolbar>
    <ion-back-button slot="start" fill="clear" text="" icon="arrow-back"></ion-back-button>
    <ion-title>POLITICA DE PRIVACIDADE</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="conteudo">
  <div class="titulo">
    <ion-title>Declaração de Privacidade</ion-title>
  </div>
  <div class="texto">
    <div class="att">
      Data de atualização: 04 de janeiro de 2022.
    </div>
    <div class="paragrafo">
      Os seus dados são seus. Respeitamos a sua privacidade e tratamos os seus dados como parte da nossoa missão de proporcionar um serviço cada vez melhor.
      Essa declaração de Privacidade descreve como obtemos, armazenamos, utilizamos e compartilhamos as suas informações.
    </div>
    <ion-title>1. A quem essa Delcarção se aplica?</ion-title>
    <div class="paragrafo">
      Essa Declaração de Privacidade, também cahamda de "Declaração", é aplicável àqueles que acessarem ou se cadastrrarem em nossa Plataforma (...)
    </div>
    <div class="paragrafo">
      Nosso aplicativo e site serão denominados, em conjunto, como Plataforma ou Plataformas. Quando houver uma menção aos termos "Pepper", "nós" ou "nossos", estamos nos referindo ao Pepper; (...)
    </div> 
    <ion-title>2. Quem controla o tratamento dos dados pessoais?</ion-title>   
    <div class="paragrafo">
      O controlador é a pessoa física ou jurídica que decide sobre o tratamento de dados pessoais.
    </div>
    <div class="paragrafo">
      Quando você acessar ou se cadastrar em nossa Plataforma, o Pepper exerce o papel de controlador do tratamento de seus dados pessoaism atuando conforme a lesgilação aplicável e conforme descrito na presente Declaração.
    </div> 
  </div>
</ion-content>