<ion-header class="conteudo">
  <ion-toolbar>
    <ion-back-button slot="start" fill="clear" text="" icon="arrow-back"></ion-back-button>
    <ion-title class="titulo">CREDENCIAIS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="conteudo">
  <ion-card>
    <ion-card-header>
      <b>
        <ion-card-title class="nome">Email</ion-card-title>
      </b>
    </ion-card-header>
    <ion-card-content>
      <ion-label>suporte@freedomtecnologia.com</ion-label>
      <ion-title class="confirm">Confirmado</ion-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <b>
        <ion-card-title class="cpf">Telefone</ion-card-title>
      </b>
    </ion-card-header>
    <ion-card-content>
      <ion-label>(11) 4002-8922 </ion-label>
      <ion-title class="Nconfirm">Não Confirmado</ion-title>
    </ion-card-content>
  </ion-card>  
</ion-content>