<ion-header class="conteudo">
  <ion-toolbar>
    <ion-back-button slot="start" fill="clear" text="" icon="arrow-back"></ion-back-button>
    <ion-title>CONFIGURAÇÕES</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="conteudo">
  <ion-list>
    <ion-item class="btn" (click)="abrirNotifica()">
      <ion-label>Gerenciar notificações</ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item class="btn" (click)="abrirSobre()">
      <ion-label>Sobre esta versão</ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item class="btn" >
      <ion-label>Limpar Histórico de busca</ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>