ion-content{
  --ion-background-color: #363435;
  --ion-text-color: #f6f2f1;
}
ion-grid{
	text-align: center;
}
.titulos{
	font-weight: bold;
}
.btnAdiciona{
  color: green;
  font-size: 16px;
  font-weight: bold;
}

.btnSubtrai{
  color: red;
  font-size: 16px;
  font-weight: bold;
}