<ion-fab vertical="top" horizontal="start" slot="fixed">
  <ion-fab-button (click)="voltarInicio()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-content class="conteudo">
  <ion-img *ngIf="item?.produto.urlImg" [src]="item.produto.urlImg"></ion-img>
	<ion-list>
	  <ion-item>
		<ion-label>
		  {{item.produto.nome}}
		</ion-label>
	  </ion-item>
	  <ion-item>
	  	{{item.produto.descricao}}
	  </ion-item>
	  <ion-item>
		<ion-label>
		  R$ {{item.produto.preco}} 
	    </ion-label>
		<button (click)="subtrai()" class="btn_menos">
		  -
		</button>
		  {{item.qtditem}} 
		<button (click)="adiciona()" class="btn_mais">
		  +
		</button>
		<ion-label>
		= R$ {{valorTotal}}
		</ion-label>
	  </ion-item>
	</ion-list>
	<ion-button expand="block" size="large" fill="solid" shape="round" color="danger" (click)="alterCarrinhoPedido()">Salvar</ion-button>
 </ion-content>
