<ion-content>
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content>

		</ion-refresher-content>
	</ion-refresher>


	<!--
	<ion-list>
		<ion-grid>
			<ion-row *ngFor="let p of pedidos; let i = index">
				<ion-col>
					<ion-item>
						<ion-avatar class="imagemProduto" (click)="exibirDetalhes(p.id)">
							<ion-img [src]="p.produtos.urlImg"></ion-img>
						</ion-avatar>
						<ion-label class="labelProduto" (click)="exibirDetalhes(p.id)">
							<p>{{p.produtos.nome}}</p>
							<ion-label class="preco">R$ {{p.valorTotal}}</ion-label>
						</ion-label>

						<ion-button fill="clear" size="small" (click)="adiciona(i)" class="btnAdiciona">
						 +
						</ion-button>
						{{p.qtde}}
						<ion-button fill="clear" size="small" (click)="subtrai(i)" class="btnSubtrai">
							-
						</ion-button>


					</ion-item>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-list>
	-->
	
	<ion-list>
		<ion-grid>
			<ion-row *ngFor="let p of itenscarrinho; let i = index">
				<ion-col>
					<ion-item>
						<ion-avatar class="imagemProduto" (click)="exibirDetalhes(p.idprod)">
							<ion-img [src]="p.url"></ion-img>
						</ion-avatar>
						<ion-label class="labelProduto" (click)="exibirDetalhes(p.idprod)">
							<p>{{p.nome}}</p>
							<ion-label class="preco">R$ {{p.preco}}</ion-label>
						</ion-label>
						<ion-button fill="clear" size="small" (click)="subtrai(i)" class="btnSubtrai">
							-
						</ion-button>
						{{p.qtditem}}
						<ion-button fill="clear" size="small" (click)="adiciona(i)" class="btnAdiciona">
						 +
						</ion-button>
					</ion-item>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-list>
</ion-content>
<div class="footer">
	<ion-grid>
		<ion-row class="total">
			<ion-col>
				<ion-label>Valor Total: </ion-label>
			</ion-col>
			<ion-col>
				<ion-label>R$ {{total}} </ion-label>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-button>
					<ion-label>Finalizar compra</ion-label>
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</div>