<ion-header class="conteudo">
  <ion-toolbar>
    <ion-back-button slot="start" fill="clear" text="" icon="arrow-back"></ion-back-button>
    <ion-title>GERENCIAR NOTIFICAÇÕES</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="conteudo">
  <div class="coment">
    Como você quer receber novidades e promoções do Pepper
  </div>
  <ion-list>
    <ion-item>
      <ion-label>Notificações</ion-label>
      <ion-toggle checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>E-mail</ion-label>
      <ion-toggle checked></ion-toggle>
    </ion-item>
    <ion-item >
      <ion-label>WhatsApp</ion-label>
      <ion-toggle checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>SMS</ion-label>
      <ion-toggle checked></ion-toggle>
    </ion-item>
    <div class="msg_box">
      Apenas novidades e promoções podem ser desativadas. Notificações sobre os pedidos são fundamentais para sua experiência.
    </div>
    
  </ion-list>
</ion-content>