<ion-header class="conteudo">
  <ion-toolbar>
    <ion-back-button slot="start" fill="clear" text="" icon="arrow-back"></ion-back-button>
    <ion-title class="titulo">DADOS PESSOAIS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="conteudo">
  <ion-card>
    <ion-card-header>
      <b>
        <ion-card-title class="nome">Nome Completo</ion-card-title>
      </b>
    </ion-card-header>
    <ion-card-content>
      <ion-label>Pepper</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <b>
        <ion-card-title class="cpf">CPF</ion-card-title>
      </b>
    </ion-card-header>
    <ion-card-content>
      <ion-label>12345678912</ion-label>
    </ion-card-content>
  </ion-card>
  
</ion-content>