<ion-fab vertical="top" horizontal="start" slot="fixed">
  <ion-fab-button fill="solid" color="danger" (click)="voltarInicio()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-content class="conteudo">
  <ion-card>
	<ion-card-header>
		<ion-card-title>
			Pedido #1
		</ion-card-title>
	</ion-card-header>
	<ion-card-content>
		<ion-list>
			<ion-item>
				<ion-grid>
					<ion-row>
						<ion-col>
						status:
						</ion-col>
						<ion-col>
						confirmado
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
						data e hora:
						</ion-col>
						<ion-col>
						20/01/22 as 16:57
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
						Total:
						</ion-col>
						<ion-col>
						R$ 25.99
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-item>
			<ion-item>
				<ion-title>Itens</ion-title>
			</ion-item>
			<ion-item>
				<ion-grid>
					<ion-row>
						<ion-col>
						Nome:
						</ion-col>
						<ion-col>
						Hambuguer
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
						Preço (un):
						</ion-col>
						<ion-col>
						R$ 15.99
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
						Quantidade:
						</ion-col>
						<ion-col>
						1
						</ion-col>
					</ion-row>					
				</ion-grid>
			</ion-item>
			
			<ion-item>
				<ion-grid>
					<ion-row>
						<ion-col>
						Nome:
						</ion-col>
						<ion-col>
						Coca-cola
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
						Preço (un):
						</ion-col>
						<ion-col>
						R$ 5.00
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
						Quantidade:
						</ion-col>
						<ion-col>
						2
						</ion-col>
					</ion-row>					
				</ion-grid>
			</ion-item>
			
		</ion-list>
	</ion-card-content>
  </ion-card>
</ion-content>