.perguntas {
  height: fit-content;
}
.conteudo{
  --ion-background-color: #363435;
  --ion-text-color: #f6f2f1;
}

ion-button{
  --ion-background-color: #fdb302;
  border-color: #fdb302;
  color: #363435;
}

ion-icon{
  margin-right: 8px;
}
