<ion-header class="conteudo">
  <ion-toolbar>
    <ion-back-button slot="start" fill="clear" text="" icon="arrow-back"></ion-back-button>
    <ion-title>AJUDA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="conteudo">
  <h1>Perguntas Frequentes</h1>
  <ion-button expand="block" fill="clear" class="perguntas">
    Como mudar o email cadastrado no app?
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-button>

  <h1>Atendimento</h1>
  <ion-button expand="block" fill="clear">
    Meus pedidos de ajuda
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-button>
</ion-content>