<ion-header class="conteudo">
  <ion-toolbar>
    <ion-back-button slot="start" fill="clear" text="" icon="arrow-back"></ion-back-button>
    <ion-title>TERMOS DE USO</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="conteudo">
  <div class="titulo">
    <ion-title>Termos e Condições</ion-title>
    Por favor, leia com atenção os termos e condições.
    Ao se cadastrar no Pepper.com.br voce ESTÁ DE ACORDO COM AS CONDIÇÕES E TERMOS DO Website.
    Note que a recusa destes Termos do website impedirá que focê faça pedidos de produtos do nosso Website.
  </div>
  <div class="texto">
    <ion-title>1. SERVIÇOS OFERECIDOS</ion-title>
    <div class="paragrafo">
      <b>1.1</b> Este TERMO se aplica apara regular o uso do serviço oferecido pelo pepper.comb.br aos USUÁRIOS (...)
    </div>
    <div class="paragrafo">
      <b>1.2</b> O serviço pepper.comb.br consiste, portanto, em aproximar, através do nosso site, os USUÁRIOS (...)
    </div> 
    <ion-title>2. CADASTRO</ion-title>   
    <div class="paragrafo">
      <b>2.1</b> O USUÁRIO, para utilizar os serviços acima descritos, deverá (...)
    </div>
    <div class="paragrafo">
      <b>2.2</b> Em caso de informações incorretas, inveridicas ou não confirmadas, bem assim na hipótese da negativa (...)
    </div> 
    <div class="att">
      Última atualização: 04 de janeiro de 2022.
    </div>
  </div>
</ion-content>