.conteudo {

    background-color: #363435;
    color: #F6F2F1;
    padding-bottom: 16px;
  }

ion-content{
    --ion-background-color: #363435;
  }

.adicionar {
    --max-height: 20%;
    width: 20%;
    --content-align: center;
    padding-left: 5%;

}
.btnAdd{
    --width: 40%;
    padding-left: 5%;
}

ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated{
    vertical-align: -webkit-baseline-middle;
}
ion-label.sc-ion-label-ios-h.sc-ion-label-ios-s.ios.hydrated {
    vertical-align: -webkit-baseline-middle;
}

.footer{
    background-color: #363435;
    color: #F6F2F1;
    padding-bottom: 16px;
}
ion-img{
    --width: 100%;

}

.descricaoProduto{
  color: #F6F2F1;
}

.preco{
  color: #fdb302;
}


