/*
* {
  background-color: #363435;
  color: #F6F2F1;
}
*/

/*
ion-tab-button{
  --background-focused: blue;
}
ion-tab-button:hover {
  background-color: #696969;
}
*/

.logo{
  height: 32px;
  margin-left: 16px;
}

ion-header{
  background-color: #363435;
}

.rodape{
  --ion-tab-bar-background: #363435;
  --ion-tab-bar-color: #f6f2f1;
  --ion-tab-bar-color-selected: #fdb302;
}


